.main {
	padding-left: 0;
	padding-right: 0;
}

.page-template-template-start {
	background-color: $white;
}

.page-template-template-main {
	background-color: $black;
}

.page {
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.wrap {
    flex: 1 0 auto;
    width: 100%;
}

img {
	height: auto;
	width: 100%;
}