.start {
	&__container {
		position: relative;
		min-height: 100vh;
		width: 100%;
		text-align: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}

	&__logo-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		top: 50%;
		transform: translate(0, -50%);
		width: 260px;
		margin: auto;
	}

	&__close-logo {
		position: absolute;
		top: -25px;
    	right: -30px;
    	height: 35px;
    	width: 35px;
    	padding: 10px;
		cursor: pointer;

		&:before, &:after {
			content: "";
		    position: absolute;
		    top: 17px;
    		left: 10px;
			width: 15px;
		    height: 1px;
		    background: $black;
		}

		&:before {
			transform: rotate(45deg);
    		transform-origin: center center;
		}

		&:after {
			transform: rotate(-45deg);
		}
	}
}

.sidebar {
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
	right: 0;
	max-width: 150px;

	&__wrapper {
		list-style-type: none;
		padding-left: 0;
		margin: 0;
	}

	&__item {
		padding: 5px 20px;
		color: rgb(249, 249, 249);
		font-size: 45px;
		line-height: 1;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}

		&--active {
			text-decoration: underline;
		}

		@media (max-width: $xs-screen) {
			font-size: 30px;
		}
	}
}

.block {
	position: relative;
	min-height: calc(100vh - 104px);
	width: 100%;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	
	&__container {
		display: none;

		&--active {
			display: block;
		}
	}

	&__text {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translate(0, -50%);
		font-size: 36px;
    	line-height: 1;

		@media (max-width: $xs-screen) {
			font-size: 26px;
    	}
	}
}

.content {
	&__container {
		@extend .container;
		height: 100%;
		padding-top: 30px;
		padding-bottom: 30px;
		text-align: left;
	}

	&__row {
		@extend .row;
		padding-top: 30px;
	}

	&__col {
		@extend .col-md-6;

		&:first-child {
			padding-right: 30px;

			@media (max-width: $xs-screen) {
				padding-right: 15px;
			}
		}

		&:last-child {
			padding-left: 30px;

			@media (max-width: $xs-screen) {
				padding-left: 15px;
			}
		}
	}

	&__wrapper {
		padding-bottom: 20px;

		&--padding {
			padding: 50px 50px 50px 0;

			@media (max-width: $xs-screen) {
				padding: 0;
			}
		}

		p {
			margin-top: 5px;
			font-size: 0.9rem;
		}
	}
}

.siteinfo p {
	margin: 0;
}

.about-block {
	@extend .container;

	max-width: 900px;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);

	@media (max-width: 1500px) {
		position: static;
		transform: none;
		padding: 80px;
	}

	@media (max-width: 768px) {
		padding: 30px;
	}

	&__row {
		@extend .row;
	}

	&__text {
		text-align: left;
		max-width: 200px;
		margin: auto;
	}

	&__textcol {
		@extend .col-md-7;

		padding-right: 60px;
		max-width: 100%;

		@media (max-width: $xs-screen) {
			padding-right: 15px;
			float: left;
		}

		p {
			font-size: 1.1rem;
		    letter-spacing: -0.5px;
		    line-height: 1.1;
		}
	}

	&__image {
		@extend .col-md-5;
		float: right;

		@media (max-width: $xs-screen) {
			float: left;
			margin-bottom: 20px;
		}
	}

	&__close {
		position: absolute;
		top: -25px;
    	right: -5px;
	    height: 30px;
	    width: 30px;
	    padding: 10px;
		cursor: pointer;

		@media (max-width: 768px) {
			display: none;
		}

		&:before, &:after {
			content: "";
		    position: absolute;
		    top: 14px;
    		left: 10px;
			width: 12px;
		    height: 1px;
		    background: $black;
		}

		&:before {
			transform: rotate(45deg);
    		transform-origin: center center;
		}

		&:after {
			transform: rotate(-45deg);
		}
	}
}

.popup {
	position: fixed;
    opacity: 0;
    z-index: -1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    // background: rgba(0,0,0,0.9);
    margin: 0;
    padding: 0;
    border: 0;
    // transition: all 0.3s;

    h4 {
    	font-size: 0.8rem;
    	font-weight: normal;
    	margin-bottom: 30px;
    }

    &__open {
		opacity: 1;
		z-index: 1000;
    }

    &__email {
    	margin-bottom: 30px;
    	max-width: 280px;
    	font-size: 0.8rem;

    	a {
    		display: block;
    		text-transform: uppercase;
    		margin-bottom: 10px;
    	}

    	span {
    		position: relative;
    		left: 2px;
    		bottom: 5px;
    		display: block;
    		margin-bottom: 20px;
    	}
    }

    &__wrapper {
	    position: absolute;
	    max-width: 400px;
	    padding: 10px 30px;
	    margin: auto;
	    transform: translate(0, -50%);
	    top: 50%;
	    left: 0;
	    right: 0;
    }

    &__close {
    	position: absolute;
		top: 0px;
    	right: 0px;
    	padding: 10px;
    	height: 35px;
    	width: 35px;
		cursor: pointer;

		&:before, &:after {
			content: "";
		    position: absolute;
		    top: 17px;
		    left: 10px;
			width: 15px;
		    height: 1px;
		    background: $white;
		}

		&:before {
			transform: rotate(45deg);
    		transform-origin: center center;
		}

		&:after {
			transform: rotate(-45deg);
		}
    }
}

#sound-button {
	position: fixed;
	left: 0;
	bottom: 4px;
	padding: 10px 7px;
	text-transform: uppercase;
	color: rgb(249, 249, 249);
	cursor: pointer;
	font-size: 14px;
	line-height: 1;

	@media (max-width: 1024px) {
		display: none;
	}
}





