.sidebar {
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
	right: 0;
	z-index: 100;
	font-family: 'Lato', sans-serif;
	font-weight: bold;

	&__wrapper {
		list-style-type: none;
		padding-left: 0;
		margin: 0;
		margin-right: 20px;
		min-width: 190px;

		&--menu {
			margin-bottom: 10px;
			padding-bottom: 10px;

			.sidebar__item:hover {
				opacity: 1 !important;
				text-decoration: underline;
			}
		}

		@media (max-width: $xs-screen) {
			min-width: 100px;
		}
	}
	&__wrapper:not(.sidebar__wrapper--menu) {
		display: none;
	}
	&__item {
		padding: 5px 20px;
		color:rgb(249,249,249);
		font-size: 22px;
		line-height: 1;
		opacity: 1;
		transition: opacity 0.1s ease;

		&--back {
			display: none;
		}

		a {
			color: rgb(249,249,249);
		}

		button {
			font-size: inherit;
			color: inherit;
			background: transparent;
			border: 0;
			padding: 0;
			text-transform: uppercase;

			&.active {
				text-decoration: underline;
			}
		}

		&:hover {
			opacity: 0;
			text-decoration: none;
		}

		@media (max-width: $xs-screen) {
			font-size: 20px;
			padding: 5px 20px;
		}
	}
}
