.sidebar {
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
	right: 0;
	max-width: 150px;
	z-index: 100;

	&__wrapper {
		list-style-type: none;
		padding-left: 0;
		margin: 0;
	}

	&__item {
		padding: 5px 20px;
		color: rgb(249, 249, 249);
		font-size: 50px;
		line-height: 1;

		a {
			color: rgb(249, 249, 249);
		}

		&:hover {
			text-decoration: underline;
		}

		&--active {
			text-decoration: underline;
		}

		@media (max-width: $xs-screen) {
			font-size: 30px;
		}
	}
	&--new {
		.sidebar__item {
			font-size: 30px;
			opacity: 1;
			transition: opacity 0.1s ease;
			&:hover {
				opacity: 0;
				text-decoration: none;
			}
		}
	}
}
